.row{
    margin:0px !important;
}
.back-img{
    background-image: url("../img/llp.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: 100% 100% !important;
}

// Section cases 1

.section-cases1{
    padding:50px 0px;
    background-color:#fff;
}
.heading-case{  
    font-weight: 700;
    margin-bottom:30px;

}              
.para-case{
    font-size: 20px;
    line-height: 28px;
    padding:30px 0px 60px 0px;
}
.margin-t{
    margin-bottom:30px;
}
.icon-imme-ca{
    font-size: 35px;
    margin-bottom: 15px;
}
.box-heading{
    font-weight: 600;
}
.box-para{
    font-size: 16px !important;
}
.img-arr{
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    position: absolute;
    left:-100px;
    transition:1s;
}

// Section Cases - 2

.immer{ 
    padding:60px 60px;

    &_heading{
        font-weight: 700;
        margin-bottom: 30px;
    }

    &_para{
        font-size: 18px;
        line-height: 30px;
        padding: 20px 0px;
    }

    &_list{
        font-size: 18px;
        font-weight: 600;
        margin-top: 13px;
        padding-bottom: 5px !important;
    }
}
.wire-frame{
    background-image: url(../img/fra.png);
    background-size: 100% 100%;
    width: 90%;
    height: 80%;
    margin: 0 auto; 
    margin-top: 50px ;
    position: relative;
}

.box-dro{
    width: 278px;
    height: 119px;
    padding: 10px;
    border: 1px solid #aaa;
    top: 104px;
    position: absolute;
    left: 268px;
}
.class-drag{
    color:black;
    z-index:9999;
    // position:absolute;        
    // bottom:-30px;
    // width: 100%;
    // left: 0;
}
.back-img1{
    background-image: url("../img/llp.jpg");
    width: 100%;
    background-position: center;
    background-size: 100% 100% !important;
    padding:25px;
}
.back{
    padding:95px;
    &_caseh{
        font-weight: 700;
        margin-bottom:30px;
        color:#fff;

    }
    &_casep{
        font-size: 20px;
        line-height: 28px;
        padding:30px 300px 30px 300px;
        color:#fff;
        width:100%;
        margin:0px auto;
        text-align: left;
    }
    &_take{
        color:#fff;
        width:100%;
        padding: 15px 405px 0 1px;
        text-align: center;
    }
    &_list{
        font-size: 21px;
        font-weight: 500;
        margin-top: 20px;
        color:#fff;
        width:100%;
        padding: 0 160px 0 0px;
        text-align: center;
    }
}

// section-last

.sec-last{
    padding:95px;
    color:black !important;    
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.button-bottom{
    background: black !important;
    border-radius: 30px !important;
    border: 0px solid black !important;
    padding: 15px 30px !important;
    margin: 45px !important;
}
.bo-la-ico{ 
    margin-left: 10px;
}
.intro-parallax {
    background-attachment: fixed!important;
    background-position: center center;
    background-repeat: no-repeat
  }
  
  #intro {
    background-size: cover;
    background-image: url(../img/llo.jpg);
    height:100vh;
    position: relative;
  }
  
  .parallax {
    background-attachment: fixed!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
  }
  .animate-scroll {
    position: absolute !important;
    left: -200px !important;
    transition: 1s;
}

.scroll-animation{
    position: relative !important;
    left:0 !important;
}