@font-face {
    font-family: 'segui';
    src: url('fonts/segui.ttf')  format('truetype');
  }

    body{
      font-family: 'Segoe UI';
  }

@mixin flex-case() {
    display: flex;
        align-items: center;
        justify-content: center;  
} 
.row-cus {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap; 
    padding: 0 4px;
} 
.div-fix__para_a{
    color: #000 !important;
    text-decoration: none;
}
/* Create four equal columns that sits next to each other */
.abc {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    padding: 0 10px;
    float:left;

    
    &__scroll{
        margin-top: 100px ;
        margin-bottom: 140px;
        padding:50px;
        width:100%;

    }



}

.abc img {
    margin-top: 8px;
    vertical-align: middle;
}




.sec-1-team{
	position:fixed;
	width:100%;
}

.sec-2-team{
	position:absolute;
	width:100%;
    margin-top:72vh;
    

}

.div-fix{
	display:flex;
	justify-content:center;
	text-align:center;
	align-items: center;
	width: 100%;
    height:80vh;
    
    &__head{
        font-size:10em;
        font-weight:bold;
        font-family: 'Montserrat', sans-serif;
    
    
    }
    &__headh{
        font-size:5em;
        font-weight:bold;
        font-family: 'Montserrat', sans-serif;
        color:#fff ;
    
    }
   
    &__para{
        font-size: 1em !important;
        line-height: 40px;
    }

    

    &__ico-p{
        font-size:1em !important;
        margin-bottom:5px;
    }
}
.div-fix__spa{
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;

    
}

    
.main-navbar{
    position: fixed;
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 25999999 !important;
    background:     rgba(254, 250, 250, 0.29);
    
    .navbar-brand{
        font-weight: bold;
        font-size: 25px;
    }
    li{
        margin-right: 20px;
        a{
            color:black !important;
            font-size: 20px;
        }
    }
    li.active{

        a{
            border-bottom: 2px solid #000;
            padding-bottom: 1px;
            padding-left: 0px !important;
            padding-right: 0px !important;
            padding-left: 20px;
    padding-right: 20px;
        }
    }
   
    
}
.main-navbar li.active {
    border-bottom: 0px solid #000 !important;
}
.div-fix p{
    font-size: 25px;
    margin-top:25px;
}


/*career*/

.ico-cus{
    font-size: 25px !important;
}

.sec-1-career{
	position: relative;
	width:100%;
}


.full{
    padding:100px 0px;
    &-head{
    width:100%;
    
    &__p{
        font-size: 1.5em;
        text-align: center;
    }

    }
}


.name-f, .parti-f, .num-f, .prac-f, .purpose-f{

    border: none;
    border-bottom-color: #949494;
    border-bottom-width: 1px; // Probably something here need to be changed?
    border-bottom-style: outset;
    color: #949494;
    font-family: Raleway;
    margin-top: 15px;
    padding-bottom: 10px;
    width:100%;


}

.play-f, .play-fa{
    border-radius: 30px;
    padding: 10px 40px;
    color: #fff;
    background: #000;
    border: 0px;
    text-align: center;
    margin-top:30px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
     background: transparent;
    background-position-x: 0%;
    background-repeat: repeat;
    background-image: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    padding-right: 5rem;
    width:100%;
    padding-top: 6px;
  }

  form{

    margin-top:50px;
  }
  label{
      width:100%;
  }

  div.wpcf7{
      width:100%;
  }
  
  .div-fix__a{
      color:black;
  }

/*--------------------------contact-page----------------*/ 

.div-fix__spacon{
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    z-index: 99999999;
}



.phone{
    width:100%;
    position: relative;
    top:-450px;
    margin-bottom:-400px;
    z-index: -100;
}

.phone-side{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    &-h{
        font-size: 3em;
        font-weight: bold;
    }
    &-p{
        font-size: 1.1em;
    }
    &-pu{
        font-style: italic;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

    .play-fa{
        position: relative;
        top:420px !important;
    }
.div-form-contact{
   // position: relative;
     padding:30px;
     z-index: 100000;
    // margin-top:40px;
    // top:450px;
}



/* Case */
.case-page{
    height: 100vh;
    display: flex;
    align-items: center;

    .case-scroll-box{
        overflow-x: scroll;
        display: inline-flex;
        padding-bottom: 10px;
        .case-vedios{
            width: 40%;
            
            img{
            height: 300px;
            }
            .case-vedio-text
            {
                padding: 10px;
            }
        }

    }
}
.case-scroll-box::-webkit-scrollbar {
    height: 2px;

}

/* Track */
.case-scroll-box::-webkit-scrollbar-track {
    background: #e0e0e0; 
    margin: 35%;
}

/* Handle */
.case-scroll-box::-webkit-scrollbar-thumb {
    background: #888; 
}
#fp-nav.right{
    left:46.5% !important;
}
.single-case{
    .row{
        height:100%;
    }
    .case-image1{
        background-image: url("img/designs/4.png");
        @include flex-case();
    }
    .case-image2{
        background-image: url("img/designs/8.png");
        @include flex-case();

    }
    .case-image3{
        background-image: url("img/designs/9.png");
        @include flex-case();

    }
    .case-image4{
        background-image: url("img/designs/3.png");
        @include flex-case();

    }
    .case-text{
        padding: 80px 60px 0px 60px;
    }
    .section{
        height:100% !important;
    }
    .section.active{
        color:#000 !important;
    }
    .case-heading{
        color:white;
        text-align: center; 
    }
    .case-scroll-down{
        display: flex;
        justify-content: flex-end;

        .fas{
            float: right;
            cursor: pointer;
        } 
    }
}
div.wpcf7-response-output {
    margin: 0px !important;
    padding: 0.2em 1em;
    border: 2px solid #ff0000;
    bottom: 85px;
    position: relative;
    width: 80%;
    text-align: center;
    margin-left: 43px !important;
}

/*---------------Home--------------------------*/ 

.sec-1-h{
    background: linear-gradient(to right, #f77d54 0%, #f396b5 100%);
    height:100vh;
}
.section-2-home{
    padding:150px 0px;
}
// .section-2-home {
//     padding: 150px;
//     position: absolute;
//     top: 655px;
//     z-index: 99999;
//     background: url(../img/back.png);
// }
.para-home, .para-mo, .ico-cus-home{
    color:#fff;
}
.abt-head{
    font-size: 3.5rem;
    margin-top: 50px;
    font-weight: bold;
    z-index: 9999;
    position: relative;
}
.abt-para{
    font-size: 17px;
    line-height: 27px;
    z-index: 9999;
    position: relative;
}
.abt-para-1{
    font-size: 24px;
    margin-top: 15px;
    z-index: 9999;
    position: relative;
}
.super-head{
    font-size: 600px;
    font-weight: bold;
    line-height: 21pc;
}
.c-video{
    width:100%;
}
.image-k{
    position: absolute;
    left: 0;
    width: 100%;
    top: -85px;
}
.aa{
    background-image: url(../img/aa.gif);
    padding: 0px !important;
    background-size: cover;
    margin-top: -35px;
}
// .service-home{
//     height: 100vh;
//     text-align: center;
//     justify-content: center;
//     align-content: center;
//     align-items: center;
//     transition:1s;
//     -webkit-transition:  1s;
//     flex-grow: 1;
//     display: grid;


//     &__h{
//         font-weight: bold;
//         text-align: left;
//     }

//     &__p{
//         font-weight: 600;
//         font-size: 18px;
//     }
// }
    .back-gradi:hover {
        background-image: linear-gradient(to right, #0006 0%, #0006 100%);
    }
    .back-gradi{
        padding-top:200px;
    }
    .home1:hover{
        color:#fff;
        background: url('../img/design.jpg');
    //     opacity: 0.8;
    //     background-size: cover;
    //     transition: .5s;
    //   max-width: 40% !important;
    //   flex-grow: 2;
    //   cursor: pointer;
    }   
    .home2:hover{
        color:#fff;
        background: url('../img/prototype.jpg');
    //     opacity: 0.8;
    //     background-size: cover;
    //     transition: .5s;
    //   max-width: 40% !important;
    //   flex-grow: 2;
    //   cursor: pointer;
        }

    .home3:hover{
       color:#fff;
        background: url('../img/development.jpg');
    //     opacity: 0.8;
    //     background-size: cover;
    //     transition: .5s;
    //   max-width: 40% !important;
    //   flex-grow: 2;
    //   cursor: pointer;
       
    }
    // .class-flex{
    //     display: flex;

    //     width:100%;
    // }
    // .con-fl{
    //     display: flex;
    //     flex-flow: row nowrap;
    //     justify-content: center;
    //     align-items: center;
    // }

    .item:focus{
      transform: scale(2);
      
    }

    
.containerr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000;
    
    
    .item{
      display: grid;
      margin: auto;
      position: relative;
      flex: 1;
      text-align: center;
      color: black;
      transition: 2s;
      max-width: 33%;
      height: 100vh;
      z-index: 9999;
    //   min-width: 25%;
  
    //   &:before{
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;      
    //     background-position: center bottom;
    //     background-size: cover;
    //     z-index: -1;
    //   }
      
    //   &:nth-of-type(odd){
    //     &:before{
    //       background-image: url('https://images.unsplash.com/photo-1508945620753-e2344dfbda6b?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ%3D%3D%0A&s=29dab9e47bdca132bd5c31d5155a6bf5');
    //     }
    //   }
  
    //   &:nth-of-type(even){
    //     &:before{
    //       background-image: url('https://images.unsplash.com/photo-1502090154121-caf9968dcd04?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ%3D%3D%0A&s=ccc1cfea72263260e0823c14680af8ae');
    //     }
    //   }    
      
    .service-home__h{
        font-weight: bold;
    }
    .service-home__p{
        font-size: 22px;
        padding: 30px 44px;
        text-align: center;
        line-height: 30px;
    }
      &:hover{
        transition: .5s;
        max-width: 40% !important;
        flex-grow: 2;
        cursor: pointer;
        color: #fff;
        // background-color: rgba(blue, .3);
        
        // p{
        //   transform: none;
        //   transition: .3s;
        // }
        h2{
            font-weight: bold;
        }
        // .shh{
        //     color:#000 !important;
        // }
        // .shp{
        //     color:#000 !important;
        // }
        p{
            font-size: 18px;
        }
        
      }
    }
  
    .content{
      margin: auto;
    }
    
    // p{
    //   transform: translateY(120vh);
    // }
  }
  #particles-js {     
   
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    z-index:1;
}
                        

/* ---- stats.js ---- */

.wpcf7-form-control.wpcf7-submit.play-f:hover {
    background: #726767;
    color: white;
}
 


.sticky {
    background: rgba(254, 250, 250, 0.56);
    top: 0;
    width: 100%;
  }



//   footer

//autoprefixer & reset used
//Tested on Chrome, Firefox, IE11, and iOS.  The responsiveness & the social section is a bit off on IE11.  I'm looking to fix that.
//It would be best to break down the flex properties into logical classes.  I've actually done that more extensively on the live Pavilion site,  but I've only included one here: flex-rw.

$primary-light-blue: #8DB9ED;
$primary-line-color: #ccc;
.flex-rw {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: 999999;
  position: relative;
}

a.generic-anchor:hover{
    color:#fff;
}
a.generic-anchor {
    z-index:999999;
}
//This main is mostly to push the footer to the bottom and for demo purposes.
main {
  flex: 1 1 auto; //For IE11
  display: flex;
  align-items: center;
  justify-content: center;
  font: 10em "Oswald", sans-serif;
  color: rgb(155,155,155);
  line-height: 1
}
footer {
  background: rgb(55,55,55);
  margin-top: auto;
  width: 100%
}
.footer-list-top {
  width: 33.333%
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif
}
.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid $primary-line-color;
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 1.5em "Oswald", sans-serif;
  color: #fff
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 1.5em;
  color:white;
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section { 
    width: 100%;
    margin-bottom: 12px;
}

.footer-bottom-wrapper {
  font-size: 1em;
  color: #fff
}
.footer-address {
  display: inline;
  font-style: normal
}
@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 1em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 1.5em
  }
  .footer-social-overlap > a {
    font-size: 1.5em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    width: 100%
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 1.5em
  }
  .footer-social-overlap > a {
    font-size: 1.5em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
#fp-nav.right {
    display: none;
}

// -----------------------animation=================

.navbar {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    min-height: 50px;
    padding: 10px;
    background-color: #fff;
}
.navbar.scrolling {
    background-color: #fff;
}

*:focus {
    outline: none;
}

// chat-box coloring
.brand-color-element.second {
    background-image: linear-gradient(-225deg,#000 35%,#45aeca);
}

.ar-top-heading{
    bottom: 100px;
    position: absolute !important;
    left: 0px; 
}
.arvr__headh {
    font-size: 4em;
    font-weight: bold;
    font-family: "Montserrat",sans-serif;
    color: #fff;
}
.para-arvr{
    color: #fff;
    padding-left: 10px;
    font-size: 1.5em;
}
.phone-side-ar{
    text-align: left;
    padding: 30px;
}
.phone-side-par{
    font-size: 1.7em;
    line-height: 37px;
    text-align: left;
}
.ar-fix-bottom{
    margin-top: 0px !important;
    padding-bottom: 30px !important;
    font-size:16px !important;

}
.ar-fix-bottom{
    margin-top: 0px !important;
    font-size:16px !important;

}
.ar-fix__head{
    font-size: 3.8em;
    font-weight: bolder;
    font-family: "Montserrat",sans-serif;

}
.sec-1-ar{
	position: relative;
    width:100%;
    padding:80px 0px;
}


/*side navigation*/ 

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    position: sticky;
       
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color: #000;
    display: block;

}

.sidenav a:hover {
    color: #f1f1f1;
}
.cross {
    text-align: right;
}
  

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media only screen and (max-width: 720px) {
    .main{
        width:100% !important;
    }
    .phone-side-h {
        font-size: 2em;
    }
    .phone-side-par {
        font-size: 1.2em;
        line-height: 30px;
    }
    .iphone-ar{
        width:100% !important;
    }
    .ar-fix__head {
        font-size: 2.8em;
    }
    .full{
        padding:30px 0px !important;
    }
    .sidenav{
        background-color: white;
        z-index: 999999999;
        position: fixed;

    }
}
@media only screen and (min-width: 720px){
    .three-layer{
        display: none ;
    }
    .cross{
        display: none !important;
    }
    
}