@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

p
{
    margin: 0;
    padding: 0 0 10px 0;
    line-height: 20px;
}
.span4
{
    width: 63px;
float: left;
margin: 0px -2px 5px 20px;
z-index: 10000 !important;
position: relative;
}
 
.phone
{
    margin-top: 15px;
    background: #fff;
}
.tel
{
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #9e9e9e;
    border-radius: 0px;
}
.num-pad
{
    padding-left: 15px;
}


// .num
// {
//     border: 1px solid #9e9e9e;
//     -webkit-border-radius: 999px;
//     border-radius: 50%;
//     -moz-border-radius: 999px;
//     height: 60px;
//     background-color: #fff;
//     color: #333;
//     cursor: pointer;
// }
// .num:hover
// {
//     background-color: #9e9e9e;
//     color: #fff;
//     transition-property: background-color .2s linear 0s;
//     -moz-transition: background-color .2s linear 0s;
//     -webkit-transition: background-color .2s linear 0s;
//     -o-transition: background-color .2s linear 0s;
// }
.txt
{
    text-align: center;
}
.small
{
    font-size: 15px;
}

.btn
{
    font-weight: bold;
    -webkit-transition: .1s ease-in background-color;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
}
.btn:hover
{
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}
.spanicons
{
    width: 72px;
    float: left;
    text-align: center;
    margin-top: 40px;
    color: #9e9e9e;
    font-size: 30px;
    cursor: pointer;
}
.spanicons:hover
{
    color: #3498db;
    transition-property: color .2s linear 0s;
    -moz-transition: color .2s linear 0s;
    -webkit-transition: color .2s linear 0s;
    -o-transition: color .2s linear 0s;
}
.active
{
    color: #3498db;
}

.col-cus{
    float: left;
    z-index: 100;
}

.row1{
    padding:40px;
} 
.my-no{
    margin-top: -80px;
} 
.cir-img-n{
    width:70% !important;
    padding:5px;
}

.cir-img-n:hover {
    padding: 0px;
    background: rgba(225, 222, 222, 0.8) !important;
    border-radius: 50%;
} 
@media screen and (max-width: 576px) {
    .col-cus{
        width:33% !important;
    }


}
@media screen and (min-width:480px) and (max-width: 576px) {
.play-fa {
    position: relative;
    top: 396px !important;
}
}
@media screen and (max-width: 767px) {
.play-fa {
    position: relative;
    top: 390px !important;
}
}


@media screen and (max-width: 448px){
    
    .\32 -box-rel {
        background: none !important;
    }
    .phone-side {
        margin-top: 50px;
    }
    .contact-fd {
        margin-top: -35px !important;
    }
    .cir-img-n {
        width: 100% !important;
    }
    .play-fa {
        position: relative; 
        top: 285px !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .cir-img-n {
        width: 85% !important;
    }
    .play-fa{
        top:188px !important;
        position: relative;
    } 
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .play-fa{
        top:262px !important;
        position: relative;
    }
}
@media screen and (min-width: 1199px){
    .play-fa{
        top:320px !important;
        position: relative;
    }
}
