/*--------------------------media query for menu ------ max-width- 992------------*/ 

@media screen and (max-width:992px){
    
    .immer {
        padding: 30px 20px !important;
    }
    .section-cases1 {
        padding: 90px 0 !important;
        background-color: #fff;
    }
    .carousel {
        position: relative;
        top: 60px !important;
    }
    .box-dro {
        width: 100% !important;
        height: 100% !important;
        border: 1px solid #aaa;
        top: 0px !important;
        position: absolute;
        left: 0px !important;
    }
    .wire-frame {
        width: 90%;
        height: 100% !important;
        margin-top: 0px !important;
        padding: 45px;
    }
    .back{
        padding:30px 15px !important;
        &_caseh{
            font-weight: 700;
            margin-bottom:30px;
            color:#fff;
        }
        &_casep{
            font-size: 20px;
            line-height: 28px;
            padding:5px 5px 5px 5px !important;
            color:#fff;
            width:100%;
            margin:0px auto;
            text-align: left;
        }
        &_take{
            color:#fff;
            width:100%;
            padding: 5px 5px 0 1px !important;
            text-align: center;
        }
        &_list{
            font-size: 21px;
            font-weight: 500;
            margin-top: 20px;
            color:#fff;
            width:100%;
            padding: 0 5px 0 5px !important;
            text-align: center;
        }
    }
    .sec-last {
        padding: 30px 5px !important;
        color: #000 !important;
    }
    .back-img1 {
        padding: 10px !important;
    }

}

/*---------------------------max-width-448px-----------------------------*/ 
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 448px) {
        .abc {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
            
            &__scroll{
                margin-top: 10px !important;
                margin-bottom: 10px !important;
                padding:20px !important;
            }
        }
        
        .div-fix__head{
            font-size:70px !important;
        }
        .div-fix__headh{
            font-size:50px !important;
        }

        .case-vedio-text{
            top: 23% !important;
        }
        
    
    }

    /*---------------------------max-width-767px-----------------------------*/ 
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 767px) {
        .abc {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }

        .div-fix__head{
            font-size:73px !important;
        }
        .div-fix__headh{
            font-size:50px !important;
        }

        .div-fix__spa {
            margin-top: 35px !important;
        }
        .back-img1 {
            background-size: auto !important;
        }
        // .immer {
        //     padding: 60px 20px;
        // }
        // .back{
        //     padding:5px !important;
        //     &_caseh{
        //         font-weight: 700;
        //         margin-bottom:30px;
        //         color:#fff;
        
        //     }
        //     &_casep{
        //         font-size: 20px;
        //         line-height: 28px;
        //         padding:5px 5px 5px 5px !important;
        //         color:#fff;
        //         width:100%;
        //         margin:0px auto;
        //         text-align: left;
        //     }
        //     &_take{
        //         color:#fff;
        //         width:100%;
        //         padding: 5px 5px 0 1px !important;
        //         text-align: center;
        //     }
        //     &_list{
        //         font-size: 21px;
        //         font-weight: 500;
        //         margin-top: 20px;
        //         color:#fff;
        //         width:100%;
        //         padding: 0 5px 0 5px !important;
        //         text-align: center;
        //     }
        // }
        

        .case-page{
            display:initial;
            height: auto;

        .case-scroll-box{
            display:initial;
            overflow: hidden;
        }
    }
    .case-page-container{
        padding-top: 65px;
    }
    .case-vedio-text{
        position: absolute;
        z-index: 1;
        top: 36%;
        width: 100%;
        color:white;
    }
    .case-vedios{
        position: relative;
        width: 100% !important;
        video{
            width: 100%;
            height: auto;
        }
    }

    .div-fix {
        height: 100vh !important;
    }

    .div-fix p {
        font-size: 15px !important;
        line-height: 29px !important;
    }

    .div-fix__spacon{
        margin-top: -45px !important;
    }

    // home

    .section-2-home{
        padding:50px 0px;
    }


    .containerr {
        display: block;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #000;
    }
    .containerr .item {
        display: grid;
        margin: auto;
        position: relative;
        flex: 1;
        text-align: center;
        color: #000; 
        transition: 2s;
        max-width: 100%;
        height: 100vh;
        width: 100% !important;
        position: relative;
        min-width: 100%;
    }
    
}

@media screen and (min-width: 576px) and (max-width: 991px)  {
    .box-para {
        font-size: 18px;
    }
    .box-heading {
        font-weight: 600px;
        font-size: 16px !important; 
    }    
    .icon-imme-ca {
        font-size: 35px;
        margin-bottom: 15px !important;
        margin: 0 auto;
    } 
} 

@media screen and (max-width: 576px) {
    .img-arr { 
        height: 50px;
        margin: 30px auto !important;
        margin-top:30px !important;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg) !important;
        transform: rotate(90deg);
    }
} 

@media screen and (min-width: 992px) and (max-width: 1199px){
    .back_casep {
       padding: 30px 200px 30px 200px !important;
    }
}